<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" />
    <title>@ViewData["Title"] - SE</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SistemaElecciones.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Links", required: false)
</head>
<body onload="iniciar()">
    <div class="container-fluid vh-100 vw-100 justify-content-center align-items-center">
        <div class="menu mx-auto my-auto d-flex">
            <div class="logo-container d-flex justify-content-center align-items-center">
                <a class="logo-container d-flex justify-content-center align-items-center" href="/Home">
                    <img src="~/img/logo_img.png" style="height:75%" id="logo" alt="Logo">
                    <img src="~/img/logo_txt.png" style="height:55%" id="logo" alt="Logo">
                </a>
                @*<img src="~/img/logo_img.png" style="height:75%" id="logo" alt="Logo">
                <img src="~/img/logo_txt.png" style="height:55%" id="logo" alt="Logo">*@
            </div>
            <div class="separador"></div>
            <div class="botones-container row ">
                <div class="d-flex justify-content-end">
                    <div class="col">
                        <a class="option-menu fs-5 @((ViewContext.RouteData.Values["controller"].ToString() == "Mesa") ? "active" : "")" href="/Mesa">Mesas</a>
                    </div>
                    <div class="col">
                        <a class="option-menu fs-5 @((ViewContext.RouteData.Values["controller"].ToString() == "Candidato") ? "active" : "")" href="/Candidato">Candidatos</a>
                    </div>
                    <div class="col">
                        <a class="option-menu fs-5 @((ViewContext.RouteData.Values["controller"].ToString() == "Cargo") ? "active" : "")" href="/Cargo">Cargos</a>
                    </div>
                    <div class="col">
                        <a class="option-menu fs-5 @((ViewContext.RouteData.Values["controller"].ToString() == "Partido") ? "active" : "")" href="/Partido">Partidos</a>
                    </div>
                    <div class="col">
                        <a class="option-menu fs-5 @((ViewContext.RouteData.Values["controller"].ToString() == "Voto") ? "active" : "")" href="/Voto">Votos</a>
                    </div>
                    <div class="col">
                        <a class="option-menu fs-5 @((ViewContext.RouteData.Values["controller"].ToString() == "Resultado") ? "active" : "")" href="/Resultado">Resultado</a>
                    </div>
                </div>
            </div>
            <div class="logout">
                <p class="d-inline"  style="color:white">Usuario</p>
                <button class="d-inline logout-btn" onmouseout="cambiarImagen()" onmouseover="restaurar()">
                    <img id="logout_img" class="logout-img" src="~/img/logout.png" style="height:15%">
@*                    <img class="logout-img-red" src="~/img/logout_red.png" style="height:15%">*@
                </button>
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="~/js/datatables.buttons.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/index.global.min.js"></script>


    <script type="text/javascript" language="javascript" src="jquery.js"></script>

    <script type="text/javascript" language="javascript" src="jquery.dataTables.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>