@model SistemaElecciones.Models.CandidatoViewModel

<form id="editar" asp-action="Editar" method="POST">
    <div class="row">
        <div class="col-md-6">
            <input hidden name="IdCandidato" value="@Model.Candidato.IdCandidato" />
            <div class="form-group">
                <label class="control-label">Partido</label>
                <select required asp-for="Candidato.IdPartido" name="IdPartido" id="IdPartido" class="form-select select2">
                    <option value=""></option>
                    @foreach (var partido in Model.Partidos)
                    {
                        <option value="@partido.IdPartido">@partido.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Cargo</label>
                <select required asp-for="Candidato.IdCargo" name="IdCargo" id="IdCargo" class="form-select select2">
                    <option value=""></option>
                    @foreach (var cargo in Model.Cargos)
                    {
                        <option value="@cargo.IdCargo">@cargo.Descripcion</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">DPI</label>
                <input required asp-for="Candidato.Dpi" name="Dpi" id="Dpi" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input required asp-for="Candidato.Nombre" name="Nombre" id="Nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Apellido</label>
                <input required asp-for="Candidato.Apellido" name="Apellido" id="Apellido" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de nacimiento</label>
                <input required asp-for="Candidato.FechaNacimiento" name="FechaNacimiento" id="FechaNacimiento" type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Género</label>
                <input asp-for="Candidato.Genero" name="Genero" id="Genero" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Teléfono</label>
                <input required asp-for="Candidato.Telefono" name="Telefono" id="Telefono" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Correo</label>
                <input asp-for="Candidato.Correo" name="Correo" id="Correo" type="email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Profesión</label>
                <input asp-for="Candidato.Profesion" name="Profesion" id="Profesion" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Antecedentes</label>
                <input asp-for="Candidato.Antecedentes" name="Antecedentes" id="Antecedentes" class="form-control" />
            </div>
        </div>
    </div>
</form>