@model SistemaElecciones.Models.CandidatoViewModel
@{
    ViewData["Title"] = "Candidato";
}

@section Links{
    <link rel="stylesheet" href="~/css/pages/Candidato.css" asp-append-version="true" />
}

<partial name="~/Views/Shared/_modalEdit.cshtml" />
<partial name="~/Views/Shared/_modalCreate.cshtml" />

<div class="card shadow-lg mt-5">
    <div class="card-header bg-ligth">
        <h3 class="h3">Candidatos</h3>
    </div>
    <div class="card-body">
        <p>
            <button type="button" class="btn btn-outline-info" onclick="ShowCreateModal()">
                <i class="fa-solid fa-plus fa-bounce"></i>  Agregar Candidato
            </button>
        </p>
        <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl table-responsive-xxl mt-5">
            <table id="tableCandidato" class="table table-striped ">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DPI</th>
                        <th>Partido</th>
                        <th>Cargo</th>
                        <th>Votos</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var candidato in Model.Candidatos.Where(x => x.EstadoEliminado == false))
                    {
                        <tr>
                            <td>@candidato.Nombre</td>
                            <td>@candidato.Apellido</td>
                            <td>@candidato.Dpi</td>
                            <td>@Model.Partidos.FirstOrDefault(x => x.IdPartido == candidato.IdPartido).Nombre</td>
                            <td>@Model.Cargos.FirstOrDefault(x => x.IdCargo == candidato.IdCargo).Descripcion</td>
                            <td>@candidato.CantidadVotos</td>
                            <td>
                                <div class="options d-flex ">
                                    <button class="option btn btn-outline-info" onclick="ShowEditModal('@candidato.IdCandidato')">Ver datos</button>
                                    <form id="eliminarForm" onsubmit="alertElminarPrevent(event)" asp-action="Eliminar" asp-route-id="@candidato.IdCandidato">
                                        <button class="option btn btn-outline-info" type="submit">Eliminar</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>



@section Scripts{
    <script src="~/js/pages/candidato.js" asp-append-version="true"></script>

    <script>

        //function alertElminarPrevent(e) {
        //    e.preventDefault();

        //    Swal.fire({
        //        title: '¿Esta seguro de eliminar a este paciente?',
        //        icon: 'question',
        //        showCancelButton: true,
        //        confirmButtonText: 'Si',
        //        cancelButtonText: 'No'
        //    }).then((resultado) => {

        //        if (resultado.isConfirmed) {
        //            const formulario = document.getElementById('eliminarForm');
        //            formulario.submit();
        //        }

        //    })
        //}

        //function alertAgregarPrevent(e) {
        //    e.preventDefault();

        //    Swal.fire({
        //        title: '¿Esta seguro de agregar a un nuevo paciente?',
        //        icon: 'question',
        //        showCancelButton: true,
        //        confirmButtonText: 'Si',
        //        cancelButtonText: 'No'
        //    }).then((resultado) => {

        //        if (resultado.isConfirmed) {
        //            const formulario = document.getElementById('crear');
        //            formulario.submit();
        //        }

        //    })
        //}

        //function testAlert() {
        //    Swal.fire('Any fool can use a computer');
        //}

        //function alertaEliminar() {
        //    Swal.fire(
        //        'Good job!',
        //        'You clicked the button!',
        //        'success'
        //    )
        //}


        //let urls = {
        //    getPaciente: "@Url.Action("GetPaciente", "Pacientes")",
        //}

    </script>
}