@model SistemaElecciones.Models.VotoViewModel

<form id="crear" asp-action="Create" method="POST">
    <div class="row">
            <div class="form-group">
                <label class="control-label">Candidato</label>
                <select required name="IdCandidato" id="IdCandidato" class="form-select select2">
                    <option value=""></option>
                    @foreach (var candidato in Model.Candidatos.Where(x => x.EstadoEliminado == false))
                    {
                        <option value="@candidato.IdCandidato">@candidato.Nombre @candidato.Apellido </option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Mesa</label>
                <select required name="IdMesa" id="IdMesa" class="form-select select2">
                    <option value=""></option>
                    @foreach (var mesa in Model.Mesas.Where(x => x.EstadoEliminado == false))
                    {
                        <option value="@mesa.IdMesa">Mesa No. @mesa.NumMesa - @mesa.IdUbicacionNavigation.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">DPI Ciudadano</label>
                <input required name="DpiCiudadano" id="DpiCiudadano" class="form-control" />
            </div>
        </div>
</form>